doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./index.css")
    title Pomodoro
  body
    .content
      .timer
        span#digits-minutes.timer__digits 00
        span#digits-seconds.timer__digits 00
      .controls
        table.controls__intervals-wrapper
          tr
            td
              button#interval-work.controls__button.interval-button Work
            td
              button#interval-break.controls__button.interval-button Break
            td
              button#interval-longBreak.controls__button.interval-button Long break
        .controls__main-buttons-wrapper
          button#start-stop.controls__button START
          button(title="Reset timer")#reset.controls__button.hide
            img(src="./img/reset.svg", alt="Reset")
      audio#beeper(src="" type="audio/mp3" preload="metadata") Your browser does not support embedded audio.        
    
    form#settings(name="settings")
      .settings__container
        span.settings__title Work
        label min
          input#inputs_work-min.input(type="number" value="25")
        label sec
          input#inputs_work-sec.input(type="number" value="0")
      .settings__container
        span.settings__title Break
        label min
          input#inputs_break-min.input(type="number" value="5")
        label sec
          input#inputs_break-sec.input(type="number" value="0")
      .settings__container
        span.settings__title Long break
        label min
          input#inputs_longBreak-min.input(type="number" value="5")        
        label sec
          input#inputs_longBreak-sec.input(type="number" value="0")
      .settings__container
        span.settings__title Volume
        input#inputs_volume(type="range" min="0" max="1" step="0.05" value="0.5")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="./index.js") 
    